/* Body */
body {
	background-image: url("Background.png");
	font-family: 'Roboto Light', sans-serif;
	font-size: 14pt;
	color: #FFFFFF;
}

h1 {
	font-family: 'Lobster', sans-serif;
	font-size: 48pt;
	text-align: center;
}



/* Links */
ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	padding: 0 0 0 16px;
}

li:hover {
	background-color: #EBEBEB;
	box-shadow: 0 0 8px #FFFFFF;
	border-radius: 20px;
}

a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #FFFFFF;
	cursor: default;
}

a:hover {
	color: #000000;
}



/* Containers */
#boxes {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}

.box {
	float: left;
	position: relative;
	width: 18%;
	margin-left: 1%;
	margin-right: 1%;
	opacity: 0.4;
	transition: 0.3s ease;
}

.box:hover,
.sbox:hover {
	opacity: 1.0;
	transition: 0.3s ease;
}

.box h4,
.sbox h4 {
	margin: 0 0 0 0;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19pt;
	border-bottom: 1px #FFFFFF solid;
}



/* Search Boxes */
.sbox {
	float: left;
	width: 18%;
	margin-left: 1%;
	margin-right: 1%;
	opacity: 0.9;
	transition: 0.2s ease;
}

#search {
	width: 100%;
	margin-top: 20px;
}

tr, td {
	height: 100%;
	width: auto;
	padding: 0 15px 0 15px;
}

td:hover a {
	background-color: #EBEBEB;
	box-shadow: 0 0 4px #FFFFFF;
	color: #000000;
	transition: 0.3s ease;
}

#Search td:nth-child(1) {
	float: left;
	margin-top: -2px;
	width: 35%;
	text-align: center;
	opacity: 0.8;
}

#Search td:nth-child(2) {
	float: right;
	width: 60%;
}

input[type="text"] {
	padding: 0 0 0 8px;
	width: 85%;
	border: none;
	border-radius: 20px;
	cursor: default;
	opacity: 0.8;
	transition: 0.2s ease;
}

input[type="text"]:hover {
	width: 100%;
	opacity: 1.0;
	box-shadow: 0 0 4px #FFFFFF;
}

input[type="text"]:focus {
	width: 100%;
	opacity: 1.0;
	box-shadow: 0 0 8px #FFFFFF;
}

form {
	margin-bottom: 7px;
	margin-top: 7px;
}
