/* Body */
body {
	background: url("background.png");
	font: 1.2em 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	}
.preload {
	transition: none;
	}
h1 {
	font: 4.0em 'Lobster', cursive;
	text-align: center;
	}


/* Links */
ul {
	list-style-type: none;
	margin-top: 8px;
	padding-left: 0px;
	}
li {
	padding-left: 16px;
	border-radius: 20px;
	height: 24px;
	}
li:hover {
	background: #EEEEEE;
	box-shadow: 0px 0px 6px #FFFFFF;
	transition: 0.15s linear;
	}
li a {
	margin-left: -16px;
	padding-left: 16px;
	}
a {
	display: block;
	width: 100%;
	color: #FFFFFF;
	text-decoration: none;
	cursor: default;
	}
a:hover {
	color: #000000;
	transition: 0.15s linear;
	}


/* Containers */
#boxes {
	width: 98%;
	margin: 0px 1% 0px 1%;
	}
.box {
	float: left;
	width: 18%;
	margin: 0px 1% 0px 1%;
	opacity: 0.5;
	transition: 0.15s linear;
	}
.box:hover, .sbox:hover {
	opacity: 1.0;
	transition: 0.15s linear;
	}
.box h4, .sbox h4 {
	margin: 0px 0px 0px 0px;
	font: 1.5em 'Roboto Condensed', sans-serif;
	text-align: center;
	border-bottom: 1px #FFFFFF solid;
	}


/* Search Boxes */
.sbox {
	float: left;
	width: 18%;
	margin: 0px 1% 0px 1%;
	opacity: 0.9;
	transition: 0.15s linear;
	}
#search {
	width: 100%;
	margin-top: 8px;
	}
form {
	margin-bottom: 12px;
	}
td a {
	margin-top: -2px;
	border-radius: 20px;
	}
td:hover a {
	background: #EEEEEE;
	box-shadow: 0px 0px 4px #FFFFFF;
	color: #000000;
	transition: 0.3s linear;
	}
td:nth-child(1) {
	float: left;
	width: 30%;
	padding: 0px 0px 0px 0px;
	text-align: center;
	}
td:nth-child(2) {
	float: right;
	width: 65%;
	padding: 0px 0px 0px 0px;
	}
input {
	height: 16px;
	width: 80%;
	padding: 0px 0px 0px 8px;
	border: none;
	border-radius: 20px;
	opacity: 0.8;
	cursor: default;
	transition: 0.15s linear;
	}
input:hover, input:focus {
	width: 100%;
	opacity: 1.0;
	box-shadow: 0px 0px 4px #FFFFFF;
	}
